* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 12pt;
}

#page {
    max-width: 800px;
    margin: 0 auto;
}

.ssd-td-0, .ssd-td-3, .ssd-td-6 {
    background-color: #808080;
    height: 20px;
    width: 60px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
}

.ssd-td-1, .ssd-td-2, .ssd-td-4, .ssd-td-5 {
    background-color: #808080;
    height: 80px;
    width: 20px;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    color: #FFFFFF;
}

.nums {
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}

h1 {
    font-size: 20pt;
    margin: 10px 0;
}

hr {
    margin: 20px 0;
}

select.diff {
    font-size: 24pt;
    width: 100%;
    text-align: center;
}

div.diff {
    font-size: 24pt;
}

#btn {
    font-size: 24pt;
    padding: 5px;
}

td.ssd {
    background-color: black;
}

.msg {
    color: #FFFFFF;
}