* {
    font-size: 16pt;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    margin: 10px 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

table {
    width: 100%;
}

td:nth-child(1) {
    width: 10%;
}

td {
    height: 1.5em;
    padding: 10px;
    white-space: nowrap;
}

tr:nth-child(2n) {
    background-color: #eeeeee;
}

input {
    width: 100px;
    padding: 5px 0px;
    text-align: right;
}

select {
    width: 100px;
    padding: 5px 0px;
    text-align: right;
}

#gen {
    padding: 0 15px;
    cursor: pointer;
}

a {
    font-size: 0.8rem;
}