* {
    font-family: monospace;
    font-size: 16pt;
}

#main {
    max-width: 800px;
    margin: 0 auto;
}

#c {
    border: 1px solid black;
    margin: 0 auto;
}

#btn {
    user-select: none;
    cursor: pointer;
}

table {
    width: 100%;
}

th {
    text-align: right;
}

td {
    width: 25%;
    text-align: right;
}

div.center {
    text-align: center;
}